body {
    font-family: Arial, sans-serif;
    background-color: #eae4e4;
    color: #222;
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#stats h2 {
    color: #50dfb2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
}

button {
    padding: 8px 12px;
    background-color: #50dfb2;
    color: rgb(0, 0, 0);
    border: solid 1px #676767;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #009803;
    color: white;
}

#task-list {
    padding: 10px;
}

#task-list li {
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.delete-button {
    background-color: #e3a9a7;
    margin-left: 5px;
}

.complete-button {
    background-color: #50dfb2;
    margin-left: 5px;
}

.delete-button:hover {
    background-color: #b52b27;
}

/* Dark Theme */

body.dark {
    background-color: #222;
    color: white;
}

body.dark section {
    background-color: #333;
}

body.dark #task-list li {
    background-color: #444;
}

body.dark input {
    background-color: #555;
    color: white;
}
